body {
  background-image: url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/138/265/original/pexels-pixabay-355321.jpg?1723277279);
}

.form-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  width: 100%;
}

.search-input {
  width: 300px;
  height: 40px;
  border-radius: 30px;
  padding-left: 20px;
  background-color: #f0eded;
  border-width: 0px;
}

.search-button {
  width: 100px;
  height: 40px;
  border-radius: 30px;
  background-color: #757373;
  color: white;
  border-width: 0px;
}

.search-button:hover {
  background-color: #5c5858;
}

.weather-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 40px 40px 0px 40px;
  padding-left: 80px;
}

.weather-main {
  border: 1px solid rgba(128, 128, 128, 0.5);
  padding-left: 20px;
  padding-right: 50px;
  padding-bottom: 100px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.2);
  color: whitesmoke;
  font-family: sans-serif;
  width: fit-content;
}

.current-weather {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 30px;
}

.current-temperature {
  font-size: 80px;
  text-align: right;
  font-family: sans-serif;
  margin-bottom: 90px;
  margin-top: 70px;
  
}
.current-temperature-value{
  margin-right: 25px;

}

.current-temperature-unit {
  font-size: 30px;
  margin-left: 5px;
  position: relative;
  top: -128px;
}
.current-temperature-icon {
  position: relative;
  top: -8px;
  font-size: 60px;
  margin-left: -20px;
}

.current-city {
  margin-top: 80px;
  font-size: 30px;
  font-family: sans-serif;
}

.current-details {
  margin-top: 80px;
  font-size: 20px;
  margin-left: 180;
   
}

.forecast-container {
  border: 1px solid rgba(128, 128, 128, 0.5);
  background-color: rgba(128, 128, 128, 0.3);
  border-radius: 10px;
  padding: 30px;
  padding-left: 50px;
  width: 300px;
 margin-right: 300px;
 
}

.forecast {
  margin-bottom: 20px;
  text-align: left;
}

.forecast:last-child {
  margin-bottom: 0;
}

.day {
  font-weight: bold;
  font-size: 1.2em;
  margin-bottom: 5px;
}

.forecast-detail {
  display: flex;
  align-items: center;
  gap: 10px;
}

.forecast-detail img {
  width: 40px;
  height: auto;
}

footer {
  text-align: center;
  color: white;
  font-family: sans-serif;
  margin-top: 70px;
}
 
 
.forecast-container {
  border: 1px solid rgba(128, 128, 128, 0.5);
  background-color: rgba(128, 128, 128, 0.3);
  border-radius: 10px;
  padding: 30px;
  padding-left: 50px;
  width: 300px;
  margin-left: 40px;
}

.forecast {
  margin-bottom: 20px;
  text-align: left;
}

.forecast:last-child {
  margin-bottom: 0;
}

.day {
  font-weight: bold;
  font-size: 1.2em;
  margin-bottom: 5px;
}

.forecast-detail {
  display: flex;
  align-items: center;
  gap: 10px;
}

.forecast-detail img {
  width: 40px;
  height: auto;
}

footer {
  text-align: center;
  color: white;
  font-family: sans-serif;
  margin-top: 70px;
}
